<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838076439627-3nflqf9o95rg26m74pnfft7463lppv64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838076439627-3nflqf9o95rg26m74pnfft7463lppv64</string>
	<key>API_KEY</key>
	<string>AIzaSyAfT2MnzOK91umli-SOI4b9XXZK9OQAoQw</string>
	<key>GCM_SENDER_ID</key>
	<string>838076439627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.di4l.glinkwork</string>
	<key>PROJECT_ID</key>
	<string>glinkwork-895be</string>
	<key>STORAGE_BUCKET</key>
	<string>glinkwork-895be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838076439627:ios:969083fa91ad1f3a41c1ce</string>
	<key>DATABASE_URL</key>
	<string>https://glinkwork-895be.firebaseio.com</string>
</dict>
</plist>